<div class="main">
    <h1><%= config.book.title %></h1>
    <section>
        <div class="bar">
            <img class="left cover" src="https://covers.openlibrary.org/w/olid/<%= config.book.olid %>-M.jpg" alt="<%= config.book.title %>">
            <div class="right book">
                <h3>Added Date: <span class="colored normal"><%= config.book.added.toUTCString() %></span></h3>
                <form class="inputGroup">
                    <input type="number" name="progress" id="progress" placeholder=" " value="<%= config.book.progress %>" autocomplete="off">
                    <label for="progress">Progress (by page number)</label>
                </form>
                <h3>Last Modified Date: <span class="colored normal"><%= config.book.modified.toUTCString() %></span></h3>
                <form action="/update" method="post">
                    <h3>Rating: </h3>
                    <div class="rating"><span class="material-symbols-rounded active-icon" title="1">star</span><span class="material-symbols-rounded active-icon" title="2">star</span><span class="material-symbols-rounded active-icon" title="3">star</span><span class="material-symbols-rounded" title="4">star_half</span><span class="material-symbols-rounded" title="5">star</span></div>
                </form>
                <h3>Open Library ID: <span class="colored normal"><%= config.book.olid %></span></h3>
                <form action="/update" method="post">
                    <h3>Favorite: </h3>
                    <div class="add"><span class="material-symbols-rounded favorite<% if (config.book.favorite) { %> active-icon<% } %>" title="favorite">favorite</span></div>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="title-bar">
            <h2>Notes</h2>
            <button class="add colored"><span class="material-symbols-rounded icon add-icon" title="Add">add</span>Add Note</button>
        </div>
        <div class="list">
            <% if(config.notes.length > 0) { config.notes.forEach(note => { %>
                <div class="list-item note">
                    <p><%= note.note %></p>
                    <div class="title-bar">
                        <h4 class="subtext">Entry Time: <span class="normal"><%= note.date.toLocaleTimeString() %></span> | Entry Date: <span class="normal"><%= note.date.toDateString() %></span> | Entry Page: <span class="normal"><%= note.page %></span></h4>
                        <div class="button-group">
                            <button class="add colored"><span class="material-symbols-rounded icon add-icon" title="Edit">edit</span>Edit</button>
                            <button class="add colored"><span class="material-symbols-rounded icon add-icon" title="Delete">delete</span>Delete</button>
                        </div>
                    </div>
                </div>
            <% })} else { %> <h3>No notes so far! Add a new one now!</h3> <% } %>
        </div>
    </section>
</div>

<script src="/scripts/book.js"></script>