<div class="main">
    <h1>Dashboard</h1>

    <% if (!last.note_err) { %>
        <section>
            <h3>Last Entry</h3>
            <div class="bar">
                <img class="left cover" src="https://covers.openlibrary.org/w/olid/<%= last.olid %>-L.jpg" alt="<%= last.title %>">
                <div class="right">
                    <h2><a href="/book/<%= last.id %>"><%= last.title %></a></h2>
                    <div class="subtext">Entry Time: <%= last.note.date.toLocaleTimeString() %> | Entry Date: <%= last.note.date.toDateString() %> | Entry Page: <%= last.note.page %></div>
                    <p class="entry"><%= last.note.note %></p>
                </div>
            </div>
        </section>
    <% } else { %>    
        <section>
            <h3>You currently have no notes in your library! Add one now <a class="colored" href="/library">here</a>!</h3>
        </section>
    <% } %>
    <% if (!last.book_err) { %>
        <section>
            <div class="title-bar">
                <h2>Recent Books</h2>
                <a href="/add" class="add colored"><span class="material-symbols-rounded icon add-icon" title="Add">add</span>Add</a>
            </div>
            <div class="slides">
                <% last.recent.forEach(book => { %>
                    <a href="/book/<%= book.id %>" class="slide">
                        <img class="cover" src="https://covers.openlibrary.org/w/olid/<%= book.olid %>-M.jpg" alt="<%= book.title %>">
                        <p class="image-label"><%= book.title %></p>
                    </a>
                <% }) %>
            </div>
        </section>
    <% } else { %>    
        <section>
            <h3>You currently have no books in your library! Add one now <a class="colored" href="/add">here</a>!</h3>
        </section>
    <% } %>
</div>